<section class="container forms">
  <div class="form login">
    <div class="form-content">
      <header>Login</header>
      
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field input-field">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class:"imput"  %>
          </div>

          <div class="field input-field">
            <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "password" %>
            <i class='bx bx-hide eye-icon'></i>
          </div>

          <div class="form-link">
            <a href="#" class="forgot-pass"></a>
          </div>

          <div class="field button-field">
            <button>Login</button>
          </div>
        <% end %>
      </div>
  </div>
</section>

<script>

const forms = document.querySelector(".forms"),
              pwShowHide = document.querySelectorAll(".eye-icon"),
              links = document.querySelectorAll(".link");
              
pwShowHide.forEach(eyeIcon => {
  eyeIcon.addEventListener("click", () => {
    let pwFields = eyeIcon.parentElement.parentElement.querySelectorAll(".password");
    
    pwFields.forEach(password => {
      if(password.type === "password"){
        password.type = "text";
        eyeIcon.classList.replace("bx-hide", "bx-show");
        return;
      }
      password.type = "password";
      eyeIcon.classList.replace("bx-show", "bx-hide");
    })

  })
})
