<h1>Fortville City Library</h1>

<%# Test to include post in the future %>
<p>
    Welcome to the Fortville Municipal Library.
    <br><br><br>
    <b>BIBLIOTECA PÚBLICA: SEU LUGAR NA CIDADE</b>
    <br><br>
    Cidade é um termo usado, em geral, de forma equivocada, vista como uma coisa homogênea e linear. Uma cidade, antes de tudo, é o produto de suas relações internas e externas que geram modificações constantes e se caracteriza por uma constante divisibilidade.
    <br>
    Parece que é uma complicada equação matemática? É muito mais que isso.
    <br>
    A biblioteca pública, assim como a escola, a delegacia, o centro de saúde é um serviço público tradicional e conhecido do morador da cidade, isso não significa que seu papel esteja claro e tampouco seja imutável.
    <br>
    Qual o papel da biblioteca pública em cidades onde as necessidades de cada região diferem substancialmente? Quais as medidas a serem implementadas que coloquem a biblioteca mais sintonizada com os interesses de uma população heterogênea que tem em seus anseios convergências e contradições?
    <br>
    Um sistema democrático de acesso à informação e a leitura deve respeitar a diversidade de interesses e abrir possibilidades de integração do indivíduo no campo decisório desse sistema.
    <br>
    Não se trata, portanto, de apresentar ao cidadão mudanças que venham a transformar o sistema das bibliotecas públicas em algo que ele não possa compreender e participar sem paternalismos. Isso já existe e está provado: não funciona.
    <br>
    Essas questões que à primeira vista parecem óbvias e redundantes, possivelmente sintetizam os desafios que enfrentamos diariamente na biblioteca pública. A necessidade de mudança é consenso, mas mudar, o quê, e para quem?
    <br>
    Uma política para a biblioteca pública, como de resto qualquer política que vise contemplar o interesse público, não pode ser colocada de forma acabada, mas deve respeitar processos e etapas. A clareza, a objetividade são elementos essenciais, a participação democrática, indispensável.
    <br>
    O elemento livro ou qualquer suporte que veicule informação é um ingrediente fundamental para compor o imaginário de uma cidade. Relacionar o índice de qualidade de vida ao acesso à leitura e informação é uma decisão que pode mudar o rumo de uma cidade.
    <br>
    Tanto se fala em promoção da leitura e formação de leitores, e muitas vezes é esquecido o fato de ser a biblioteca, um dos principais espaços da leitura e da informação.
    <br>
    A biblioteca pública durante muitos anos cumpriu o papel de apêndice da escola, suprindo a falta de bibliotecas escolares. Devido ao grande contingente de alunos que a freqüentava ficou firmado no imaginário das pessoas que a biblioteca cumpria apenas essa função.
    <br>
    Além do mais, alunos e pesquisas trazem consigo, obviamente, necessidades ligadas ao currículo e ao universo escolar. Biblioteca pública e escola são instituições que não dialogam como podem compartilhar serviços? Esse hiato entre uma instituição e outra agravou o anacronismo dos serviços prestados.
    <br>
    Essa condição levou as bibliotecas a uma constante adaptação a situações que lhe eram estranhas. Os alunos compõem um dos públicos da biblioteca, mas a hegemonia desse perfil limitou o espaço de atuação da instituição para atender a outras demandas da população.
    <br>
    Nos últimos anos devido ao advento da internet e algumas mudanças curriculares e de postura dos professores em relação a trabalhos escolares, a biblioteca pública vem perdendo muito rapidamente, também, esse público para o qual tentou adaptar seus serviços durante muitos anos.
    <br>
    Descrita assim, pode nos trazer a impressão que a biblioteca pública seja um aparelho totalmente sem função na vida da sociedade. Será verdade? Sim e não.
    <br>
    Justamente no momento em que a informação ocupa um papel muito importante na correlação de forças da sociedade, a biblioteca aparece como uma instituição totalmente sintonizada com os interesses mais prementes da população.
    <br>
    A demanda por informação, a formação de leitores e a necessidade de fruição de um espaço cultural são fatores que colocam a biblioteca e seus mediadores (bibliotecários e demais funcionários) como itens de vital importância para a vida de uma cidade.
    <br>
    Porém, para fazer jus a essa condição a biblioteca pública precisa passar por correções de rumo e pela adequação de seus serviços.
    <br>
    A condução da biblioteca pública rumo aos interesses e necessidades da população passa principalmente por uma análise do perfil dessa população. Questões como:
    <br>
    1 - quem é essa população;
    <br>
    2 - como a população vê a biblioteca pública nesse momento;
    <br>
    3 - quais suas demandas informacionais e também suas necessidades de fruição;
    <br>
    4 - que biblioteca essa população quer para si?
    <br>
    A partir do conhecimento das pessoas que freqüentem e que potencialmente possam freqüentar a biblioteca começa-se a delinear seu verdadeiro perfil e identidade. Conhecer a cidade e conhecer o citadino.
    <br>
    Sendo assim, esse período transitório de crise (assim esperamos) e a busca por um novo público podem ser encarados como um momento de transformar a biblioteca pública em um verdadeiro organismo vivo para e com a cidade.
    <br><br>
    Ricardo Queiroz Pinheiro é bibliotecário em São Bernardo do Campo.
    <br>
    <b>Autor:</b> Ricardo Queiroz Pinheiro


</p>