<table>
  <tbody>
    <tr>
      <td style="text-align: center; font-size: 15px" colspan="6">Filters:</td>
    </tr>
    <tr>
      <td>Id:</td>
      <td>Title:</td>
      <td>Category:</td>
      <td>Author:</td>
      <td>Date:</td>
      <td>Company:</td>
    </tr>
  </tbody>
</table>
