/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

h1{
  height: 80px;
  font-size: 50px;
  padding: 15px 0;
}

table{
  width: 90%;
}

th{
  height: 50px;
  font-size: 20px;
  text-align: left;
}

.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #020364;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}

.sidebar.open{
  width: 250px;
}

.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}

.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn{
  text-align: right;
}

.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}

.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}

.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.open li .tooltip{
  display: none;
}

.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #010497;
}

.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}

.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #010497;
  color: #FFF;
}

.sidebar.open .bx-search:hover{
  background: #020364;
  color: #FFF;
}

.sidebar .bx-search:hover{
  background: #FFF;
  color: #020364;
}

.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #020364;
}

.sidebar li a:hover{
  background: #FFF;
}

.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #020364;
}

.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

.sidebar li.user{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #020364;
  transition: all 0.5s ease;
  overflow: hidden;
}

.sidebar.open li.user{
  width: 250px;
}

.sidebar li .user-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}

.sidebar li.user .name,
.sidebar li.user .job{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}

.sidebar li.user .job{
  font-size: 12px;
}

.sidebar .user #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #020364;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}

.sidebar.open .user #log_out{
  width: 50px;
  background: none;
}

.home-section{
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  top: -25px;
  left: 50px;
  width: calc(100% - 25px);
  transition: all 0.5s ease;
  z-index: 2;
}

.sidebar.open ~ .home-section{
  left: 225px;
  width: calc(100% - 200px);
}

.home-section .text{
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 5px;
  line-height: 18px;
}

.bx-plus{
  border: none;
  font-size: 30px;
  font-weight: 400;
  border-radius: 6px;
  color: #fff;
  background: #008000;
  margin-left: 10px;
}

.bx-plus:hover{
  color: #008000;
  background: #fff;
  border-radius: 6px;
}

.bx-show{
  border: none;
  font-size: 20px;
  font-weight: 400;
  border-radius: 6px;
  color: #808080	;
  background: #E4E9F7;
}

.bx-show:hover{
  color: #E4E9F7;
  background: #808080;
  border-radius: 6px;
}

.bx-edit{
  border: none;
  font-size: 20px;
  font-weight: 400;
  border-radius: 6px;
  color: #fff;
  border: solid;
  border-width: 1px;
  background: #010497;
}

.bx-edit:hover{
  color: #010497;
  background: #fff;
  border-radius: 6px;
}

.bx-x{
  border: none;
  font-size: 20px;
  font-weight: 400;
  border-radius: 6px;
  color: #fff;
  border: solid;
  border-width: 1px;
  background: #FF0000;
}

.bx-x:hover{
  color: #FF0000;
  border: solid;
  border-width: 1px;
  background: #fff;
  border-radius: 5px;
}

@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}